

body{
    margin: 0%;
    width: 100%;
    padding: 0%;
    overflow-x: hidden;
}

.topline{
    display:flex; 
    font-size: 10px;
    gap:450px;
    height:20px;
    width: 100%;
    background-color: rgb(229, 228, 226);
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.topline>.opt{
    gap: 25px;
    display: flex;
    position: relative;
    bottom: 28px;
}

.opt a{
    text-decoration: none;
    color:black;
    font-size: 10px;

}
.topline .contact{
        display: flex;
        gap: 20px;
}
/* top line ends here */
/* header starts here */
header{
    height: 80px;
    width: 100%;
    border: 1px;
    display: flex;
    padding-top: 30px;
    padding-left: 90px;
    

}
.logo img{
    height: 60px;
    width: 220px;
    margin-right: 20px;
}
nav ul{
    display: flex;
    gap:20px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding-top: 10px;
    margin-left: -35px;

}
.icons{
    display:flex;
    gap: 20px;
    padding-left: 100px;
    padding-top: 20px;
    margin-left: 50px;
}
/* header ends here */
/* <!-- Banner-1 starts here --> */
.banner1 img{
    margin-top: 15px;
    height: 330px;
    width: 100%;
    position:relative
}
.banner1{
    position: relative; 
       
}
.banobj{
    display: flex;
    gap: 120px;
    margin-left: 100px;
    position: relative;
    bottom: 300px;
}
.bannerobjects{
    margin-left: 35px;
    
}
.bannerobjects p7{
      font-size: 12px;
      padding-left: 100px;
}
.bannerobjects p8{
    font-size: 40px;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

.bannerobjects p9{
    font-size: 40px;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    padding-left: 40px;
}

.bannerobjects>a{
    border: 1px #e05757;
    text-decoration: none;
    padding: 16px;
    background-color:#e05757;
    border-radius: 3px ;
    margin-left: 110px;
    color: azure;
    font-size: 13px;
    font-weight: bold;
}
.bannerobjects p7, p8, p9, a{
    position: relative;
    top: 30px;
}

.bannerimg2{
  height: 330px;
  width: 400px;
  position: relative;
  bottom: 49px;
  background: none;
}
/* <!-- Banner-1 ends  here --> */
/* Featured products starts here */
p10{
    font-size: 22px;
    font-weight: normal;
    position: relative;
    margin-left: 41%;
    bottom:280px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fproducts{
    display:flex;
    gap: 50px;
    justify-content: center;
}
.fproducts>.fp{
    height: 400px;
    width: 250px;
    
}
.fp>img{
    height: 320px;
    width: 250px;
}
.fp{
    text-align: center;
    position: relative;
    bottom: 250px;
}
/* Featured products ends here */
/* banner-2 starts here */
.banner2{
    height: 250px;
    width: 100%;
    background-color: rgb(229, 229, 202);
    position: relative;
    bottom: 180px;
    display: flex;
    gap: 130px;
}
 
.banobimg2 img{

    height: 250px;
    width: 350px;
}

.bonob1 p13{
    position: relative;
    margin-left: 40px;
}
.ban2{

    margin-left: 170px;
    font-size: 20px;
    position: relative;
    margin-top: 25px;
}
.ban2 p13{
    margin-left: 125px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
.ban2 p14{
    margin-left: 50px;
    font-weight:550;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

.ban2 button{
    margin-left:130px;
}
/* banner-2 Ends here */
/* most popular products starts here*/
p15{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-left: 44%;
    bottom:130px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mostpopular{
    display:flex;
    gap: 50px;
    justify-content: center;
}
.mostpopular>.mp{
    height: 300px;
    width: 200px;
    
}
.mp>img{
    height: 280px;
    width: 220px;
}
.mp{
    text-align: center;
    position: relative;
    bottom: 80px;
}
/* most popular products ends here  */
/* services starts here */
.services{
    display: flex;
    gap: 25px;
    justify-content: center;
    position: relative;
    top: 60px;
}
.services .ser1{
    height: 150px;
    width: 220px;
    border: 1.5px solid rgb(226, 120, 81);
    border-radius: 5px;
}
.ser1 img{
    position: relative;
    left: 70px;
    top: 25px;
}
.ser1 p16{
    font-size: 12px;
    position: relative;
    justify-content: center;
    margin-left: -26px;
    top: 55px;
}
.ser1 p17{
    position: relative;
    margin-left: 26px;
    top: 50px;
}
/* services starts here */
/* Trending products starts here */

p18{
    
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-left: 40%;
     
     top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.trendingproducts{
    display:flex;
    gap: 50px;
    justify-content: center;
}
.trendingproducts>.tp{
    height: 300px;
    width: 200px;
    
}
.tp>img{
    height: 280px;
    width: 220px;
}
.tp{
    text-align: center;
    position: relative;
    top: 140px;
}
  


.trendingproducts1{
    display:flex;
    gap: 50px;
    justify-content: center;
}
.trendingproducts1>.tp1{
    height: 300px;
    width: 200px;
    
}
.tp1>img{
    height: 280px;
    width: 220px;
}
.tp1{
    text-align: center;
    position: relative;
    top: 230px;
}
/* Trending products ends here */
/* Journal starts here */
p19{
    
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-left: 45%;
     
     top: 370px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.journal{
    display:flex;
    position: relative;
    top:420px;
    gap: 30px;
    justify-content: center;
}
.journal .jps{

    height: 350px;
    width: 300px;
    

}
.jps>img{
    height: 300px;
    width: 300px;
    border-radius: 3px;
}

.redsqr1{
    position: absolute;
    height: 5px;
    width: 13px;
    background-color: red; 
    top: 305px; 
}

#date{
    position: relative;
    bottom: 20px;
    left: 20px;
}
/* Journal Ends here */
 
.womenfashion{
    position: absolute;
    margin-top: 470px;
    left: 100px;
    
}

#womenfashion1{
    border: none;
    padding: 6px;
    border-radius: 10px;
}

#comment1{
    border: none;
   margin-left: 50px;
   padding: 6px;
   border-radius: 10px;
}
#womenfashion2{
    border: none;
    margin-left: 60px;
    padding: 6px;
    border-radius: 10px;
}

#comment2{
    border: none;
   margin-left: 50px;
   padding: 6px;
   border-radius: 10px;
}
#womenfashion3{
    border: none;
    margin-left: 60px;
    padding: 6px;
    border-radius: 10px;
}

#comment3{
    border: none;
   margin-left: 50px;
   padding: 6px;
   border-radius: 10px;
}
.Followus-container{
    position: relative;
    display: flex;
    top: 560px;
    gap: 20px;
    justify-content: center;
    
}
.fcimg>img{
   height: 220px;
   border-radius: 5px;

}    
.FW>h1{
    position: relative;
    top: 550px;
      text-align: center;
}
/* Footer */
 

.footer1{
    display: flex;
    gap: 40px;
    justify-content: center;
    position: relative;
     margin-top: 600px;
    
}

.footer1>.icons{
    position: relative;
    bottom: 20px;
     
}
pre{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(101, 100, 100);
    font-size: 14px;
}
.pay{
    /* height: 40px;
    width: 40px; */
    display: flex;
    size: 30px;
    position:relative; 
    gap:1px;
    bottom: 20px;     
}

.pay #Apay{
    border: 2px solid rgb(196, 195, 194);
    border-radius: 5px;
    
}
.pay #gpay{
    border: 2px solid rgb(196, 195, 194);
    border-radius: 5px;
    
}

 


 


 

